@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/breakpoints"; // media quieries variables

@import "./base/base"; // CSS commun à toutes les pages comme le body ou le background
@import "./base/footer"; // CSS du footer
@import "./base/header"; // CSS du header
@import "./base/typography"; // tout ce qui est lié aux éléments textuels

@import "./components/animations";
@import "./components/buttons"; // il y a également les input, les select et option

@import "./pages/homepage";
@import "./pages/product";

// dont forgive to generate .json to use Sass correctly.
