body {
	background-color: $secondary-color;
	position: relative;
}
section {
	padding: 50px 0;
}
#main {
	background-color: white;
}
#main__container {
	display: flex;
	flex-direction: column;
	min-height: 625px;
	&.article-aside {
		flex-direction: row;
		margin-bottom: 15px;
		justify-content: space-between;
	}
}
.container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 80%;
	@include border-box;
}

.error-message {
	display: none;
}
