// Boxes
@mixin border-box {
	box-sizing: border-box;
}
@mixin box-shadow {
	box-shadow: 0px 0px 12px 2px rgba(212, 211, 211, 0.308);
}

// Flexbox

@mixin flex-CC {
	align-items: center;
	display: flex;
	justify-content: center;
}

@mixin max-width {
	margin-left: auto;
	margin-right: auto;
	max-width: $max-width;
}
// Radius

@mixin radius15 {
	border-radius: 15px;
}
@mixin radius25 {
	border-radius: 25px;
}
