<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css"
		/>
		<link rel="stylesheet" href="../sass/main.css" />
		<script src="https://kit.fontawesome.com/022660c1b2.js" crossorigin="anonymous"></script>

		<meta
			name="description"
			content="Orinours, des oursons tout mignons faits à la main avec amour"
		/>

		<title>Orinours, des oursons tout mignons</title>
	</head>

	<body>
		<main id="main">
			<header id="header">
				<div class="header container">
					<div class="header__title">
						<h1>Orinours</h1>
						<span class="fas fa-paw" aria-hidden="true"></span>
					</div>

					<nav class="header__navbar navbar">
						<ul class="navbar__link">
							<li>
								<a href="./cart.html" aria-label="panier">
									<i class="fas fa-shopping-cart"></i>
									<span class="cart-number"></span>
								</a>
							</li>
							<li>
								<a href="#account" aria-label="compte">
									<i class="fas fa-user-circle"></i>
									<span class="cart-number"></span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</header>

			<h2 class="container">Des produits de qualité</h2>
			<section id="main__container" class="container"></section>

			<footer id="footer" class="footer footer__not-homepage">
				<div class="footer__links container">
					<a href="index.html" class="homepage-return">Retour à l'accueil</a>
					<a href="#CGV" aria-label="conditions générales de vente"
						>Conditions générales de vente</a
					>
					<a href="#ML" aria-label="mentions légales">Mentions légales</a>
				</div>
			</footer>
		</main>

		<script type="module" src="../js/teddy.js"></script>
	</body>
</html>
