.cart {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;

	&__price {
		border-bottom: 2px solid $primary-color;
		padding-right: 20px;
		padding-bottom: 10px;
		text-align: right;
	}

	&__box {
		border-bottom: 1px solid $primary-color;
		display: flex;
		flex-direction: column;
		padding: 15px 0;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		&-text {
			padding-left: 20px;
			padding-top: 20px;
			width: 80%;

			&-quantity {
				display: flex;
				flex: row;
				align-items: center;
				& span {
					margin-left: 10px;
				}
			}
		}
		&-price {
			text-align: right;
			padding-right: 20px;
			min-width: 200px;
		}
	}
	&__total {
		border-top: $primary-color 1px solid;
		text-align: right;
		padding-right: 20px;
		padding-top: 10px;
	}
}

.form {
	border: $primary-color solid 1px;
	flex-direction: column;
	margin: 10px auto;
	padding: 25px;
	width: 250px;
	@include flex-CC;
	@include box-shadow;
	& label {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	& input {
		margin-bottom: 5px;
		width: 100%;
	}
	& button {
		margin-top: 25px;
	}
}
