.product {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	&__box {
		background-color: none;
		margin: 20px;
		height: 450px;
		width: 450px;
		transition: 500ms linear background-color;
		@include border-box;
		@include box-shadow;
		@include radius15;
		&:hover {
			background-color: $secondary-color;
			transform: scale(1.1);
			transition: 250ms linear background-color;
		}
		&__link {
			align-items: center;
			display: flex;
			flex-direction: column-reverse;
			@include flex-CC;
		}
		&__text {
			height: 60px;
			width: 100%;
			@include border-box;
			@include flex-CC;
			&-price {
				margin-left: 15px;
			}
		}

		& img {
			border-radius: 15px 15px 0 0;
			object-fit: cover;
			object-position: top;
			height: 380px;
			width: 100%;
		}
	}
}
