.teddy {
	display: flex;
	margin-top: 25px;

	overflow: hidden;
	& img {
		height: auto;
		width: 50%;
		object-fit: cover;
		overflow: hidden;

		@include radius15;
	}
	&__box {
		margin: 15px 0;
		width: 50%;
		@include border-box;

		&__text {
			&-description {
				margin: 30px 0;
			}
		}
		&__form {
			width: 50%;
			&-colors {
				& #teddy__colors {
					@include flex-CC;
				}
			}
		}
		& .btn {
			margin: 10px 0;
			padding: 0 14px;
			width: fit-content;
		}
	}
}
