.teddy {
	display: flex;
	margin-top: 25px;
	@include border-box;
	& img {
		height: 100%;
		max-height: 500px;
		width: 70%;
		@include radius15;
	}
	&__box {
		margin: 25px 0 25px 25px;
		@include border-box;
		&__text {
			&-description {
				margin: 30px 0;
			}
		}
		& .btn {
			margin: 10px 0;
			padding: 0 14px;
			width: fit-content;
		}
	}
}
