button {
	background-color: $tertiary-color;
	min-height: 50px;
	min-width: 50px;
	@include flex-CC;
}

option,
select {
	min-height: 50px;
	min-width: 50px;
	@include border-box;
}

// select {
// 	padding: 10px;
// }

// button,
// input,
// option,
// select {
// 	border-color: $primary-color;

// }

// #teddy__quantity {
// 	padding-left: 10px;
// 	width: 50px;
// }
