button {
	background-color: $tertiary-color;
	@include flex-CC;
}

input {
	width: 150px;
}

select {
	padding: 10px;
}

button,
input,
option,
select {
	border-color: $primary-color;
	height: 50px;
	@include border-box;
}

#teddy__quantity {
	padding-left: 10px;
	width: 50px;
}
